docker.enabled = false
singularity {
    enabled = true
    autoMounts = true
    runOption = "--containall"
}
conda.enabled = false
process {
    errorStrategy = { task.exitStatus in [130,137..140] ? 'retry' : 'terminate' }
    maxRetries = 5

    cpus = { 1 * task.attempt }
    memory = { 5.GB * task.attempt }

    withName: BIOINFOTONGLI_BIOFORMATS2RAW {
	ext.args = [
		'--tile_height=8192',
		'--tile_width=8192',
		'--compression=blosc'
        ].join(' ')
	ext.version = "0.5.0"
    }
}
cleanup=true
includeConfig 'subworkflows/sanger/bioinfotongli/to_ome_tiff/nextflow.config'
params.enable_conda = false
